table {
    border-collapse: collapse;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #a1cdf1;
    font-weight: bold;
}

tr:hover {
    background-color: rgb(239, 244, 255);
}

td:nth-child(1) {
    background-color: rgb(206, 231, 255, 0.767);
}

td:first-child {
    font-weight: bold;
}

td:not(:first-child) {
    text-align: right;
}

.div-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.button-price {
    display: flex;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(206, 231, 255, 0.767);
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    border-color: transparent;
    vertical-align: middle;
    text-decoration: none;
    -webkit-transition: width 0.1s;
    transition: width 0.5s;
}

.btn:focus{
    box-shadow: none;
}

.btn .btn-text {
    max-width: 0;
    display: inline-block;
    -webkit-transition: color .25s 1.5s, max-width 2s;
    transition: color .25s 1.5s, max-width 2s;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    font-size: large;
    font-family: sans-serif;
}

.btn:hover .btn-text {
    max-width: 300px;
    color: black;
}

.exchange-image {
    width: 40px;
    height: 40px;
}