<div class="div-price">
    <button class="btn" (click)="toggleTable()">
        <span class="btn-icon"><img class="exchange-image" src="assets/images/exchange.png" aria-hidden="true" /></span>
        <span class="btn-text">&nbsp;{{showTable ? 'Hide prices' : 'Show prices'}}</span>
    </button>
    <table *ngIf="showTable">
        <tr>
            <th>Exchange Name</th>
            <th>ETH/USDC</th>
            <th>LINK/USDC</th>
            <th>MATIC/USDC</th>
            <th>SUSHI/USDC</th>
            <th>WBTC/USDC</th>
        </tr>
        <tr *ngFor="let item of exchangesData">
            <td>{{ item.exchangeName }}</td>
            <td *ngFor="let pair of item.pairs">{{ pair.price | number: '1.4-4' }}</td>
        </tr>
    </table>
</div>