<div id="content">
    <div class="my-form">
        <div class="my-divs">
            <div class="my-div-5">
                <div class="my-div-51">
                    <button class="my-button-511" (click)="openTokenDialog(true)">
                        <img [src]="selectedTokenSell.image" [alt]="selectedTokenSell.name">&nbsp;&nbsp;{{selectedTokenSell.ticker}}
                    </button>
                    <input type="number" class="my-input" placeholder="0.0" minlength="1" maxlength="10"
                        [(ngModel)]="tokenAmountToSpend" (ngModelChange)="calculateTokenPrice($event)">
                </div>
                <div class="my-div-52" id="daiBalance">Balance: {{ spendTokenBalance }}</div>
            </div>
            <div class="switchDiv">
                <div class="switchButton" (click)="swapBuyAndSellTokens()">
                    <img class="switchImage" src="assets/images/update-icon.png" alt="swap">
                </div>
            </div>
            <div class="my-div-5">
                <div class="my-div-51">
                    <button class="my-button-511" (click)="openTokenDialog(false)">
                        <img [src]="selectedTokenBuy.image" [alt]="selectedTokenBuy.name">&nbsp;&nbsp;{{selectedTokenBuy.ticker}}
                    </button>
                    <input type="number" id="calculatedEth" class="my-input" placeholder="0.0" [value]="tokenAmountToReceive"
                        disabled>
                </div>
                <div class="my-div-52" id="ethBalance">Balance: {{ receiveTokenBalance }}</div>
            </div>
            <div *ngIf="tokenAmountToSpend != 0">
                <div class="routes-info">
                    <span class="route">Route</span>
                    <div class="pathfinder-route" (click)="openRoutingDialog()">
                        <div *ngFor="let token of tokenRoute">
                            <span>{{token}}</span>
                        </div>
                        <button class="fullscreen-button">
                            <img class="fullscreen-image" src="assets/images/fullscreen.png" alt="fullscreen">
                        </button>
                    </div>
                </div>
            </div>
            <button class="my-button" (click)="swapTokens()" [disabled]="executingTrade">
                <ng-container *ngIf="!executingTrade; else loadingSpinner" style="font-size: larger;">
                    Swap
                </ng-container>
                <ng-template #loadingSpinner>
                    <div class="loader"></div>
                </ng-template>
            </button>
        </div>
    </div>
</div>